@import "variables";

.highlight {
  position: relative;
  border: none;
  border-left: 1pt solid $print-gray-light;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 0.9em;
  font-family: $print-font-family-code;
  
  &:after {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    font-size: 0.8rem;
    text-transform: none;
    text-align: center;
    margin-left: -1.5rem;
    margin-top: 0.8rem;
    top: 0;
    width: 0.8rem;
    line-height: 1;
    color: $print-gray-dark;
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    content: "\e601";
  }
  &:before {
    position: absolute;
    top: 0;
    left: -0.2rem;
    width: 3pt;
    border-top: 2rem solid #fff;
    content: '';
  }
}

.hll { /* background-color: #ffffcc */ }
.c { color: $print-gray; font-style: italic } /* Comment */
.err { /* color: #a61717; background-color: #e3d2d2 */ } /* Error */
.k { color: $print-black; font-weight: bold } /* Keyword */
.o { color: $print-black; font-weight: bold } /* Operator */
.cm { color: $print-gray; font-style: italic } /* Comment.Multiline */
.cp { color: $print-gray; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: $print-gray; font-style: italic } /* Comment.Single */
.cs { color: $print-gray; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: $print-black; text-decoration: line-through; /* background-color: #ffdddd */ } /* Generic.Deleted */
.ge { color: $print-black; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: $print-gray } /* Generic.Heading */
.gi { color: $print-black; text-decoration: underline; /* background-color: #ddffdd */ } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: $print-black; font-weight: bold } /* Keyword.Constant */
.kd { color: $print-black; font-weight: bold } /* Keyword.Declaration */
.kn { color: $print-black; font-weight: bold } /* Keyword.Namespace */
.kp { color: $print-black; font-weight: bold } /* Keyword.Pseudo */
.kr { color: $print-black; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: $print-black; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: $print-gray } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */