body.printView {
  padding: 0;
  overflow: hidden;
  max-height: 100%;
  background: $printView-spinner-bg;

  .documentContainer {
    background: $printView-spinner-bg;
    position: absolute;
    top: 5em;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
  }

  iframe#document {
    width: 100%;
    height: 100%;
  }

}