@import "variables";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: $print-black;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: $print-black;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $print-gray-light;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* http://www.w3.org/TR/CSS2/sample.html */

li {
  display: list-item;
}

head {
  display: none;
}

table {
  display: table;
}

tr {
  display: table-row;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tfoot {
  display: table-footer-group;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

td, th {
  display: table-cell;
}

caption {
  display: table-caption;
}

th {
  font-weight: bolder;
  text-align: center;
}

caption {
  text-align: center;
}

body {
  margin: 8px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
  margin: 1.12em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
}

i, cite, em, var, address {
  font-style: italic;
}

pre, tt, code, kbd, samp {
  font-family: monospace;
}

pre {
  white-space: pre;
}

button, textarea, input, select {
  display: inline-block;
}

big {
  font-size: 1.17em;
}

small, sub, sup {
  font-size: 0.83em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

table {
  border-spacing: 2px;
}

thead, tbody, tfoot {
  vertical-align: middle;
}

td, th, tr {
  vertical-align: inherit;
}

s, strike, del {
  text-decoration: line-through;
}

hr {
  border: 1px inset;
}

ol, ul, dir, menu, dd {
  margin-left: 40px;
}

ol {
  list-style-type: decimal;
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul {
  ol, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

u, ins {
  text-decoration: underline;
}

br:before {
  content: "\A";
  white-space: pre-line;
}

center {
  text-align: center;
}

:link, :visited {
  text-decoration: underline;
}

:focus {
  outline: thin dotted invert;
}

/* Begin bidirectionality settings (do not change) */

BDO {
  &[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override;
  }
  &[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
}

* {
  &[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed;
  }
  &[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed;
  }
}

/* http://www.w3.org/TR/CSS2/page.html */

body {
  color: $print-black;
  font-family: $print-font-family-body;
  font-size: 10pt;
  line-height: 1.5;
  margin: 0;
  padding: 1cm;
}

a {
  text-decoration: none;
  color: $print-black;
  &:link, &:visited {
    text-decoration: none;
  }
  &:link:after {
    color: $print-gray;
    font-family: $print-font-family-heading;
    font-size: 0.8em;
    content: " (" attr(href) ") ";

    &:contains('http://'), 
    &:contains('https://') {
      display: none;
      content: '';
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $print-font-family-heading;
  page-break-after: avoid;
  border-bottom: 1pt solid $print-gray-light;
  margin: 1.5em 0 0.5em 0;
}

h1 {
  border-bottom: 4pt solid $print-gray-light;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  a:link:after {
    display: none;
  }
}

/** Don't show anchors in headers */

h2 a:link:after, h3 a:link:after, h4 a:link:after, h5 a:link:after, h6 a:link:after {
  display: none;
}

ul, ol, dl {
  page-break-before: avoid;
}

blockquote {
  font-style: italic;
}

figure {
  border: 1pt solid $print-black;
  padding: 12pt;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: $print-gray-light;
  clear: both;
}

img {
  clear: both;
  display: block;
}

pre {
  position: relative;
  border: none;
  border-left: 1pt solid $print-gray-light;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 0.8em;
  &:after {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    font-size: 0.8rem;
    text-transform: none;
    text-align: center;
    margin-left: -1.5rem;
    margin-top: 0.6rem;
    top: 0;
    width: 0.8rem;
    line-height: 1;
    color: $print-gray-dark;
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    content: "\e601";
  }
  &:before {
    position: absolute;
    top: 0;
    left: -0.2rem;
    width: 3pt;
    border-top: 2rem solid #fff;
    content: '';
  }
}

table {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
}
th, td {
  border: 1pt solid $print-gray-light;
  padding: 0.5rem;
}
tr {
  &:nth-child(2n) {
    background-color: #f8f8f8;
  }
  &:last-child {
    td, th {
      border-bottom-width: 1.5pt;
      border-bottom-color: $print-gray;
    }
  }
}
thead {
  tr {
    td, th {
      border-bottom-width: 1pt;
      border-bottom-color: $print-gray;
    }
  }
}