@import "variables";

body {
  background: #fff;
  padding-top: 70px;
  padding-bottom: 20px;
}

#headerNav {
  height: 5em;
  padding: 0 1rem;
  padding-top: 0.5em;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    em {
      font-style: normal;
      font-weight: normal;
      color: #999;
    }
  }
  .btn {
    margin-left: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-print {
    color: #fff;
    &:hover, &:focus, &:active {
      color: inherit;
    }
  }
}

.btn .glyphicon {
  margin-right: 0.5em;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  color: #999;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.hero {
  text-align: center;
  padding: 3rem 0;
  h1 {
    font-size: 3em;
  }
}

.overview {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  .btn {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}

.error {
  padding: 0 2rem 2rem;
}
