extends layout

block content
  h1 GitPrint converts Github Markdown into beautiful, printable PDFs
  h2 Simply replace git<em>hub</em>.com with git<em>print</em>.com
  
  p 
    a(href="http://gitprint.com/jquery/jquery/blob/master/README.md") See an example (http://gitprint.com/jquery/jquery/blob/master/README.md)