extends layout

block content
  h1 GitPrint converts Github Markdown into beautiful, printable PDFs
  h2 Simply replace git<em>hub</em>.com with git<em>print</em>.com
  
  h3 The trick:

  p Simply view any markdown file on Github, then in your URL bar replace the *github.com* part of the URL with *gitprint.com*. 
  Your markdown file will be rendered to a beautiful, printable PDF.

  p 
    a(href="http://gitprint.com/jquery/jquery/blob/master/README.md") See an example (http://gitprint.com/jquery/jquery/blob/master/README.md)