extends layout

block content

  div.hero
    h1 Easily print Github markdown
    p.lead Simply replace git<strong>hub</strong>.com with git<strong>print</strong>.com
  
  hr

  h3 The trick:

  p Simply view any markdown file on Github, then in your URL bar replace the <em>github.com</em> part of the URL with <em>gitprint.com</em> &mdash; your markdown file will be rendered to a beautiful, printable PDF.

  p 
    a.btn.btn-success.btn-lg.btn-block(href="https://gitprint.com/jquery/jquery/blob/master/README.md") 
      span.glyphicon.glyphicon-file
      span Try an example (https://gitprint.com/jquery/jquery/blob/master/README.md)
