extends layout

block content
  div.hero
    h1 Easily print GitHub markdown
    p.lead Simply replace git<strong>hub</strong>.com with git<strong>print</strong>.com

  div.overview
    h3 Printing Markdown with GitPrint

    p Simply view any Markdown file on GitHub, then in your URL bar replace the <em>github.com</em> part of the URL with <em>gitprint.com</em> &mdash; your markdown file will be rendered to a beautiful, printable PDF.

    p 
      a.btn.btn-success.btn-lg.btn-block(href="https://gitprint.com/jquery/jquery/blob/master/README.md") 
        span.glyphicon.glyphicon-file
        span Try an example (https://git<b>print</b>.com/jquery/jquery/blob/master/README.md)
