extends layout

block content
  div.hero
    h1 Easily print GitHub markdown
    h2.lead Simply replace git<strong>hub</strong>.com with git<strong>print</strong>.com

  div.overview.well
    h2.h3 Printing Markdown with GitPrint

    p Simply view any Markdown file on GitHub, then in your URL bar replace the <em>github.com</em> part of the URL with <em>gitprint.com</em> &mdash; your markdown file will be rendered to a beautiful, printable PDF.

    p 
      a.btn.btn-success.btn-lg.btn-block(href="https://gitprint.com/jquery/jquery/blob/master/README.md") 
        span.glyphicon.glyphicon-file
        span Try an example (https://git<b>print</b>.com/jquery/jquery/blob/master/README.md)

  div.extension.well
    h3.h4 Get the Chrome Browser Extension
    p Print Markdown from GitHub like you should have always been able to!
    p The GitPrint.com Chrome browser extension automatically inserts Markdown Print and Download buttons into the GitHub user interface. It's free, unobtrusive and quick to install.
    p
      a.btn.btn-default(href="https://chrome.google.com/webstore/detail/print-github-markdown-git/fhnfikabkgjdcbgncedbgiapobklkahb")
        span Get the Chrome browser extension from the Google Chrome Webstore