doctype html
html
  head
    title gitprint.com - Easily print GitHub markdown
    meta(charset='utf-8')
    meta(description='Easily print GitHub markdown')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.header
        ul.nav.nav-pills.pull-right
          li.active
            a(href="https://gitprint.com") Home
          li
            a(href="http://gitprint.com/jquery/jquery/") See an example
        h3.text-muted GitPrint.com

      block content

      div.footer
        p &copy; 2014 <a href="https://twitter.com/adamburmister">@adamburmister</a>