doctype html
html
  head
    title GitPrint: #{pageTitle}
    meta(charset='utf-8')
    meta(description='Easily print GitHub markdown')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48971811-1', 'gitprint.com');
      ga('send', 'pageview');
    script.
      function printFrame(id) {
        var frm = document.getElementById(id).contentWindow;
        frm.focus();// focus on contentWindow is needed on some ie versions
        frm.print();
        return false;
      }
  body.printView

    .noDirectPrintingWarning.visible-print
      h1 Whoa! You can't print like that
      p.lead Sorry, because of the way GitPrint works you can't print directly from your browser like you normally would.
      p.lead Instead, click the "Print" button in the top right of this page. That will pop open the printer dialog box for the PDF document.

    nav#headerNav.navbar.navbar-default.navbar-fixed-top.hidden-print
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") GitPrint <em>&ndash; Easily print GitHub markdown</em>
          div.pull-left.share
            a.twitter-share-button(href="https://twitter.com/share", data-text="Easily print GitHub markdown files with GitPrint.com", data-dnt="true")
        ul.nav.navbar-nav.navbar-right
          li
            a.btn.btn-default.navbar-btn(href="?download") Download
          li
            a.btn.btn-primary.navbar-btn.btn-print(href="#print", onclick='printFrame("document");return false;')
              span.glyphicon.glyphicon-print
              span Print
          
    .documentContainer.hidden-print
      iframe#document(src='?inline', width='100%', height='100%', scrolling='no', frameborder='no')

    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
