doctype html
html
  head
    title GitPrint: #{pageTitle}
    meta(charset='utf-8')
    meta(description='Easily print GitHub markdown')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/printView.css')
    script.
      function printFrame(id) {
        var frm = document.getElementById(id).contentWindow;
        frm.focus();// focus on contentWindow is needed on some ie versions
        frm.print();
        return false;
      }
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48971811-1', 'gitprint.com');
      ga('send', 'pageview');
  body.printView
    nav#headerNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") GitPrint <em>&ndash; Easily print GitHub markdown</em>
        ul.nav.navbar-nav.navbar-right
          li
            a.btn.btn-default.navbar-btn(href="?download") Download
          li
            a.btn.btn-primary.navbar-btn.btn-print(href="#print", onclick='printFrame("document");return false;')
              span.glyphicon.glyphicon-print
              span Print
          
    .documentContainer
      iframe#document(src='?inline', width='100%', height='100%', scrolling='no', frameborder='no', onload='printFrame("document")')