/* Space out content a bit */
body {
  padding: 0;
  background: #fff;
  overflow: hidden;
  max-height: 100%;
  padding-top: 70px;
}

#headerNav {
  height: 5em;
  padding: 0 1rem;
  padding-top: 0.5em;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
#headerNav .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
#headerNav .navbar-brand em {
  font-style: normal;
  font-weight: normal;
  color: #999;
}
#headerNav .btn {
  margin-left: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}
#headerNav .btn-print {
  color: #fff;
}
#headerNav .btn-print:hover, #headerNav .btn-print:focus, #headerNav .btn-print:active {
  color: inherit;
}
#headerNav .btn .glyphicon {
  margin-right: 0.5em;
}

.documentContainer {
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background: white;
}
iframe#document {
  width: 100%;
  height: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}