/*
Icomoon
*/
@font-face {
  font-family: 'icomoon';
  src:url('/public/fonts/icomoon.eot?3fjud4');
  src:url('/public/fonts/icomoon.eot?#iefix3fjud4') format('embedded-opentype'),
    url('/public/fonts/icomoon.woff?3fjud4') format('woff'),
    url('/public/fonts/icomoon.ttf?3fjud4') format('truetype'),
    url('/public/fonts/icomoon.svg?3fjud4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*.icon-display:before {
  content: "\e600";
}
.icon-browser3:before {
  content: "\e603";
}
*/


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* http://www.w3.org/TR/CSS2/sample.html */

li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bold }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

/* http://www.w3.org/TR/CSS2/page.html */

body {
  color: #000;
  font-family: 'Merriweather', Georgia, "Times New Roman",  Times, serif;
  font-size: 10pt;
  line-height: 1.5;
  margin:0;
  padding: 1cm;
}

a {
  text-decoration: none;
  color: #333;
}

a:link, a:visited {
  text-decoration: none;
}

a:link:after {
  color:#666;
  font-family: 'Open Sans', Helvetica, Arial, sans;
  font-size: 0.8em;
  content: " (" attr(href) ") ";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans;
  page-break-after: avoid;
  border-bottom: 1pt solid #ccc;
  margin: 1.5em 0 0.5em 0;
}

h1 {
  border-bottom: 4pt solid #ccc;
  padding-bottom: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/** Don't show anchors in headers */
h1 a:link:after, h2 a:link:after, h3 a:link:after, h4 a:link:after, h5 a:link:after, h6 a:link:after {
  display: none;
}

ul, ol, dl    { 
  page-break-before: avoid 
}

blockquote {
  font-style:italic;
}

figure {
  border: 1pt solid #000;
  padding: 12pt;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: #aaa;
  clear:both;
}

img {
   /*max-width: 400px;*/
   clear:both;
   display:block;
}

pre {
  position: relative;
  border: none;
  border-left: 1pt solid #ccc;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 0.8em;
}
pre:before {
  position: absolute;
  /*left: 0;*/
  /*top: 0;*/
  /*margin-top: -0.5rem;*/
  margin-left: -3rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  /*speak: none;*/
  font-style: normal;
  font-weight: 600;
  font-variant: normal;
  font-size: 0.8rem;
  text-transform: none;
  color: #666;
  
  /* Console */
  line-height: 1;
  padding: 0 0.3rem;
  border: 1pt solid #666;
  border-top-width: 2pt;

  content: ">";
}