/* Space out content a bit */
body {
  padding: 0;
  overflow: hidden;
  max-height: 100%;
}
body, .documentContainer {
  background: white url(/img/spinner.gif) no-repeat 50% 50%;
}

.documentContainer {
  position: absolute;
  top: 5em;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}
iframe#document {
  width: 100%;
  height: 100%;
}